@charset "UTF-8";
#nav{
  height: 50px;
  background:#4D4D7F;
  display: flex;
  align-items: center;
  text-align: center;
  img{
    margin-left: 20px;
    width: 20px;
    height:20px;
  }
  div{
    font-weight: bold;
    color: #9a9a9c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
#search_item {
  img{
    width: 100%;
    height: 100%;
  }
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border: 1px solid #d0c1c1;
  margin: 10px 40px;
  input {
    width: 85%;
    border: none;
    outline: none;
    margin: 0 10px;
    height: 40px;
  }
  #img_search {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
#choose{
  display: flex;
  border: 1px solid #b5b5b5;
  .choose_item{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-shrink: 1;
    height: 50px;
  }
}
.content_discuss_item{
  margin-left:5%;
  margin-right: 5%;
  border-bottom: 1px solid #9a9a9c;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  .discuss_item_img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid #f0f0f2;
  }
  .discuss_item_content{
    margin-left: 15px;
    flex-shrink:1;
    //background: #FFFFFF;
    width: 100%;
    height: inherit;
    .line{
      display: flex;
    }
    .discuss_item_content_line1{
      align-items: flex-end;
    }
    .content_line1_name{
      margin-right: 20%;
      font-weight: bold;
    }
    .content_line1_time{
      font-size: 0.8rem;
    }
    .discuss_item_content_line2{
      //如果不加入overflow，内容会溢出
      //必须得固定宽度才可使用
      font-size: 0.8rem;
      margin: 20px 10px;
      margin-bottom: 10px;
      line-height: 1.5rem;
      word-wrap: break-word;
    }
    .my_reply {
      margin: 20px;
      padding: 15px;
      background-color: #bbc1e6;
      border-radius: 5px;
      word-wrap: break-word;
      line-height: 1.5rem;
    }
    .discuss_item_content_line3{
      position: relative;
      display: flex;
      justify-content: flex-end;
      cursor: default;
      .callBack {
        position: absolute;
        left: 20px;
        display: flex;
        align-items: center;
        .imgCallBack {
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
      }
      .line_data{
        margin-right: 10px;
        font-size: 0.8rem;
      }
      .line_img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}
