@charset "UTF-8";
@mixin lvcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin vstart{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
@mixin lstart{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
@mixin rd{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin noselect{
    cursor: default;
    user-select: none;
}
//单行数据才可以
@mixin text-lvcenter($value) {
    text-align: center;
    line-height:$value;
}
body{
    @include lvcenter;
    background: linear-gradient(to bottom, #040406 10%, #0B0C12 20%,#171624 30%,#10101A 30%,#161523 20%,#212237 40%,#393B5E 70%,#3C3D63 80%,#454470 90%,#4C4C7D 100%);
}
#div_main{
    width: 15%;
    .label_login{
        @include lstart;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #505061;
        margin-bottom: 5px;
        text-align: center;
        .img_login_log{
            width: 25px;
            height:23px;
        }
        .input_log{
            width: 90%;
            margin-left: 4%;
            border: none;
            //去掉点击过出现的边框
            outline: none;
            background: inherit;
            padding: 10px 0;
            color: #919191;
            font-weight: bold;
            font-size: 15px;
        }
        .input_log:focus::placeholder{
            opacity: 0;
        }
        .input_log::placeholder{
            font-weight: 800;
        }
    }
    #div_login_button{
        @include lvcenter;
        @include noselect;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        background-color: #1475A8;
        font-weight: 500;
        color: #FFFFFF;
    }

    #div_login_button:active{
        background-color: #1ab1ff;
    }

    #div_forget{
        @include noselect;
        margin-top: 5px;
        text-align: right;
        font-size: 0.5rem;
        user-select: none;
        color: #d3d3d3;
    }
}
#div_popup_main{
    @include lvcenter;
    //position: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //使用这种方式手机端无法适应
    //position: absolute;
    //width: 100%;
    //height: 100%;
    //这种方式子布局会继承透明度且无法改变
    //background-color: #0B0C12;
    //opacity: 0.6;
    background-color: rgba(0,0,0,0.5);
    display: none;
    #div_popup{
        @include rd;
        //@include text-lvcenter(75px);
        background-color: #FFFFFF;
        width: 20%;
        height: 150px;
        border-radius: 5px;
        display: none;
        //字体居中调整
        #span_popup{
          @include lvcenter;
          width: 100%;
          height: 100%;
          padding: 0 5%;
        }
        #div_popup_button{
            @include noselect;
            @include text-lvcenter(30px);
            width: 30%;
            height: 30px;
            border-radius: 5px;
            margin: 5px 5px;
            background-color: #00aaee;
        }
        #div_popup_button:active{
            background-color: #005070;
        }
    }
}
.tips{
    background: #f8f8f8;
    color: #414141;
}
//移动端
@media screen and (max-width:600px ){
    #div_main{
        width: 90%;
        .label_login {
            .img_login_log {
                width: 25px;
                height: 20px;
            }
        }
        #div_forget{
            font-size: 0.7rem;
            margin-top: 10px;
        }
    }
    #div_popup_main{
        #div_popup{
            width: 60%;
        }
    }
}
//pc端
@media screen and (min-width:700px ){
    #div_main{
        width: 22%;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 15px;

        .label_login{
            border-bottom-color: #e5e5e5;
            .input_log::placeholder{
                font-weight: 500;
                color: #9a9a9c;
            }
        }

        #div_login_button{
            border-radius: 5px;
            background-color: #3C3D63;
            height: 45px;
        }

        #div_login_button:active{
            background-color: #696aac;
        }

        #div_forget{
            @include noselect;
            color: #4b4b4b;
            span {
                color: #9E9E9E;
            }
        }
    }
}
